// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-show-div {
  background-color:rgb(34, 34, 34);
  display: flex;
  flex-direction: row;
  // height: 100%;
  height: 100vh;
  // justify-content: space-between;
}

// .photo-show-img {
//   // padding: 5px;
//   // display: flex;
//   align-items: center;
//   justify-content: center;
//   // flex-direction: column;
//   // max-width: 500px;
//   height: 100%;
// }


.photo-show-img {
  // position:relative;
  // // width: 75%;
  // // max-width:70%;
  // width: 600px;

  display: block;
  // width: 800px;
    flex-basis: 100%;
    min-width: 0;
  // position: relative 
    // max-width: 100%;
    // height: auto;
    // background-color: blue;
background-color: black;
     align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: auto;



}

.photo-show-img > img {
  // display: flex;
  height: auto;
// background-color: black;
  width: 900px;
  vertical-align: middle;
  // display: flex;



}
.photo-show-content {
  // display: flex;
  // align-self: start;
  // background-color: red;
  // width: 27%;
  display: block;
  // width: 20%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  overflow: auto;

}

.photo-show-close-div > * {
  color: gray;
}

.photo-show-close-div:hover > * {
  color:white;
  cursor: pointer;
}

.photo-show-close-div  {
  margin: 10px auto;
  height: 15px;
  width: 15px;;
  // display: block;
  // padding: 5px;
  // margin: 1px;
  // justify-content: flex-end;
   display: flex; 

}

.photo-show-remove {
  // font-family: 'Commissioner', sans-serif;
  // background-color: rgb(225, 33, 47);
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  padding: 5px;
  // height: 10px;
  cursor: pointer;
  border: none;
  margin: 10px;
  font-size: 15px;
  font-weight: 500;
  // transition-duration: 0.4s;
}

.photo-show-remove:hover {
  background-color: rgb(225, 33, 47);

}

.photo-show-remove-div {
  padding: 5px;
  margin: 10px;
  display: none;
}

.photo-show-edit {
  // font-family: 'Commissioner', sans-serif;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 5px;
  // height: 10px;
  cursor: pointer;
  border: none;
  margin: 10px;
  font-family: 'Commissioner', sans-serif;
  font-size: 15px;
  // transition-duration: 0.4s;
  // font-weight: lighter;

}

.photo-show-edit:hover {
  background-color: #43a147;
}

// .photo-show-edit > * {
//   text-decoration: none;
// }

.photo-show-edit-div {
  padding: 5px;
  margin: 10px;
  display: none;
}


.photo-show-title{
  margin: 10px;
  font-family: 'Commissioner', sans-serif;
  color: white;
  padding: 5px;
  font-size: 25px;
  text-transform: uppercase;
 
}

.photo-show-text{
  margin: 10px;
  font-size: 15px;
  font-family: 'Commissioner', sans-serif;
  color: white;
  padding: 5px;
 
}