// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-index-ul {
 display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.photo-index-li {
  // flex: 25%;
 
  width: 20%;
  height: 20%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
  // height: 40vh;
}
.photo-index-li > a{
  background-color: BLUE;
  }

.photo-index-img {
// // max-height: 100%;
// //   min-width: 100%;
//   object-fit: cover;
//   vertical-align: bottom;

//  width: 100%;
//     max-height: 75vh;
//     min-width: 0;

  // margin-top: 8px;
  // vertical-align: middle;
  // width: 100%;

  overflow: hidden;
  
  object-fit: cover;
  width:  300px;
  height: 300px;
  padding: 0px;
  margin: 0px;
}

.photo-show-div{
  background-color:rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}

.photo-show-content{
  padding: 5px;
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
}

.photo-show-remove {
  font-family: 'Commissioner', sans-serif;
  background-color: rgb(225, 33, 47);
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin: 10px;

 
}

.photo-show-text{
  margin: 10px;
  font-family: 'Commissioner', sans-serif;
  color: white;
  padding: 5px;
 
}