// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-index-ul {
 display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.photo-index-li {
  // flex: 25%;
 
  max-width: 20%;
  max-height: 20%;
  padding: 0px
}

.photo-index-img {
// // max-height: 100%;
// //   min-width: 100%;
//   object-fit: cover;
//   vertical-align: bottom;

//  width: 100%;
//     max-height: 75vh;
//     min-width: 0;

  // margin-top: 8px;
  // vertical-align: middle;
  // width: 100%;
   object-fit: cover;
  width:  300px;
  height: 300px;
  padding: 0px;
}