

.login-signup {
    background-color: rgb(23, 23, 23);
    color: white;
    text-decoration: none;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logged-in-nav {
     background-color: rgb(23, 23, 23);
    color: white;
    text-decoration: none;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logged-in-nav > div {
    display: flex;
}

.header-link {
    color:white;
    text-decoration: none;
    padding: 7px;
    margin: 5px;
    text-transform: uppercase;
    background-color: rgb(34, 34, 34);
    border: 0;
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif;
}

.header-link:hover {
    background-color: black;
}

.header-name{
    color:white;
    padding: 7px;
    margin: 5px;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    font-family: 'Commissioner', sans-serif;

}

#catstation-logo {
    height: 40px;
    width: auto;
    justify-content: flex-start;
}

.blue-button {
    background-color: rgb(21, 175, 240);
    border-radius: 5px;
}

.blue-button:hover {
    background-color: rgb(13, 142, 196);
    border-radius: 5px;
    cursor: pointer;
}







#splash-image {
    width: 100%;
}


// //////////////////////////      SIGNUP PAGE CSS STUFFIES

#catstation-logo-su {
    height: 40px;
    width: auto;
    padding: 2%;

}

.signup-form-container {
     background-color: rgb(23, 23, 23);
     color:  white;
     text-align: center;
     min-height: 1200px;
     text-decoration: none;
     font-family: 'Commissioner', sans-serif;
     
}

.signup-big-text{
    font-size: 300%;  
    font-weight: 500;
    margin: 15px;
    padding: 15px;
}

.signup-text{
    font-size: 150%;
    color: rgb(90, 90, 90);
    font-weight: 200;
    padding: 15px;
}

.signup-form-box {
    background-color: rgb(34, 34, 34);
    min-width: 550px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    // padding: 0px 25px 25px ;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    position: relative;
    box-sizing: content-box;
}

#signup-username{
   
}

#signup-label-username {
//    padding-top: 80px;  
}

.signup-label{
    margin-left: 5px;
    text-align: left;
    margin: 10px;
    font-weight: 300;
    line-height: 1.8;
    color: #bbb;
}

.signup-form-input {
    background-color: rgb(23, 23, 23);
    border-color:dimgray;
    border-width: thin;
    border-style: solid;
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 30px;
    border-radius: 2.5px;
    outline: none;
    color: white;

}

.signup-form-box > .form-header-text  {
    box-sizing: border-box;
    background-color:	rgb(51, 51, 51);
    padding: 25px 0px;
    padding-left: 20px;
    font-weight: 200;
    text-align: left;
    min-width: 530px;
    width: 570px;
    // padding: 12px;
    // position: absolute; 
}


.signup-errors {
    padding-top: 10px; 
    display: block;
    height: 50px;
}

.signup-no-errors{
     padding-top: 10px; 
    display: block;
    height: 50px;
}

input[type=text] {
    color: white;
}

input[type=password] {
    color: white;
}


//////////////////////login


