// #catstation-footer {
//     position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 2.5rem; 
//   display: block;
// }

.footer-div {
    // display: block;
    // position:absolute;
    background-color: rgb(23, 23, 23);
    color: white;
    text-decoration: none;
    padding: 10px;
    // height: 80px;
    display: flex;
    // display: block;
    // direction: rtl;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    // position: fixed;
    // height: 50px;
}

.footer-span > * {
//   height: 50px;
//   width: 50px;
  color: gray;
}


.footer-span > *:hover {
  color: white;
  cursor: pointer;
}

.footer-span > a {
    // height: 50px;
    // width: 50px;
//   padding: 5px;
margin: 10px

}

.footer-big-div {
  // display: block;
   position: relative;
}