.photo-edit-div {
      background-color: rgb(23, 23, 23);
    font-family: 'Commissioner', sans-serif;
    color: white;
    border-top: rgb(31, 31, 31) 3px solid;
    padding: 5px;
    height: 100vh;
}