#upload-photo-input-box {
    color: black;
}

.photo-upload-div {
    background-color: rgb(23, 23, 23);
    font-family: 'Commissioner', sans-serif;
    color: white;
    border-top: rgb(31, 31, 31) 3px solid;
    padding: 5px;
    height: 100vh;
}

.photo-upload-h1-title {
    height: 25px;
    // padding: 20px 5px;
    margin: 20px 5px;
    font-size: 30px;
}

.photo-upload-input-title {
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.photo-upload-title-label {
    // background-color: blue;
    color: #bbb;
    background-color: #333;
    // height: 40px;
    padding: 15px 20px;
    align-items: center;
    font-weight: lighter;
}
.photo-upload-input-div {
    background-color: #222222;
    // margin: 10px;
    padding: 20px;
}

#upload-photo-input-box:focus {
    border: #333 1px solid;
}

#upload-photo-input-box {

    width: 100%;
    color: white;
    // border-style: none;
    height: 30px;
    resize: none;
    background-color: #171717;
    border: 1px solid #333;
    // background-color: red;
}