.photo-index-div {
    // padding-top: 8px;
    order: 6;
    flex-basis: 100%;
    min-width: 0;
}

.photo-index-ul {
 display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.photo-index-li {
  // flex: 25%;
 
  width: 20%;
  height: 20%;
  overflow: hidden;
//   padding: 0px;
//   margin: 0px;
//   object-fit: cover;
    border-style: none;
    vertical-align: middle;
  // height: 40vh;
}
.photo-index-li > a{
  // background-color: BLUE;
  }

.photo-index-img {
// // max-height: 100%;
// //   min-width: 100%;
//   object-fit: cover;
//   vertical-align: bottom;

//  width: 100%;
//     max-height: 75vh;
//     min-width: 0;

  // margin-top: 8px;
  // vertical-align: middle;
  // width: 100%;

  overflow: hidden;
  display: block!important;
  object-fit: cover;
  width:  300px;
  height: 300px;
  padding: 0px;
  margin: 0px;
}

.photo-index-img:hover {
  // background-image: linear-gradient(transparent, black);
      background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
}

