.profile-outer-div {
    background-color: 	rgb(34, 34, 34);
    height: 100vh;
}

.profile-header-username {
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
    padding: 10px;

}

.profile-photo-header-div{
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    width: auto;
    // height: 30px;
}

#profile-header-img {
    width: 100%;
    height: 400px;
    // object-fit: none;
    // bottom: 50px;
    // object-position: 50% 50%;
}

.photo-profile-index-div {
    // padding-top: 8px;
    // order: 6;
    display: block;
    flex-basis: 100%;
    min-width: 0;
  background-color: black;
  

}
